/* =================================
 * 	PageHead
 * ------------------------------ */
@use "variable" as *;
@use "svg" as *;
/* stylelint-disable no-descending-specificity */
/* stylelint-disable keyframes-name-pattern */
/* stylelint-disable custom-property-pattern */
// このファイル全体のルールを無効にする
.containerPageHead {
    height: 80vh;
    height: 80dvh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: grid;
    place-content: center;
    color: #fff;
    @include sp {
        height: 50vw;
    }
    h2 {
        font-size: FZ(42);
        text-align: center;
        font-weight: 700;
        letter-spacing: 0.08em;
        z-index: 2;
        @include sp {
            font-size: FZ(30);
            padding-top: 12vw;
        }
    }
}
